.base {
  display: flex;
  align-self: center;
  flex-direction: row;
  margin-left: 8vw;
  margin-top: 8vh;
  /* transition: 0.3s ease all; */
  /* background-color: chartreuse; */
}
.content {
  margin-right: 2.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content img {
  width: 9.6vw;
  height: auto;
}
.text h2 {
  font-size: 1.8rem;
  font-family: 'AppleSDGothicNeoB00';
  font-weight: normal;
  line-height: 1.9rem;
  margin-top: 1.1vmin;
  color: #1e3257;
  width: auto;
  text-align: center;
  align-self: center;
}
.text h3 {
  color: #747474;
  font-size: 1.5rem;
  font-family: 'AppleSDGothicNeoL00';
  font-weight: normal;
  letter-spacing: 0.03vmin;
  margin-top: -2vmin;
  line-height: 1.5rem;
  text-align: center;
  /* background-color: chartreuse; */
}
.content .long {
  /* letter-spacing: -0.09vmin; */
  justify-self: center;
  margin: -2.5vmin -10vmin;
}

@media (max-width: 1550px) {
  .text h2 {
    font-size: 1.5rem;
    margin-top: 1.1vmin;
  }
  .text h3 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: -1.8vmin;
  }
}
@media (max-width: 1300px) {
  .text h2 {
    font-size: 1.25rem;
    margin-top: 0vmin;
    font-weight: 600;
  }
  .text h3 {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.1rem;
    margin-top: -1rem;
  }
  .content .long {
    letter-spacing: -0.09vmin;
    margin: -1.3rem -10vmin;
  }
}
@media (max-width: 1090px) {
  .text h2 {
    font-size: 1rem;
    margin-top: 0vmin;
  }
  .text h3 {
    font-size: 01rem;
    margin-top: -1rem;
  }
}
@media (max-width: 1050px) {
  .text h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 0vmin;
    font-weight: 400;
    /* width: 10.6vw; */
    /* background-color: chartreuse; */
  }
  .text h3 {
    font-size: 1rem;
    margin-top: -1vmin;
  }
}
@media (max-width: 900px) {
  .base {
    display: flex;
    flex-direction: column;
    margin-left: 8.3%;
    margin-top: 10vh;
    align-self: flex-start;
  }
  .content {
    margin-right: 2.7vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .content img {
    width: 15vmin;
    height: auto;
    /* background-color: chartreuse; */
  }
  .content .text {
    margin-left: 6vmin;
    margin-top: 1.2vmin;
  }
  .content h2 {
    font-size: 5vmin;
    font-family: 'AppleSDGothicNeoB00';
    font-weight: 500;
    line-height: 6vmin;
    margin-top: 0;
    color: #1e3257;
    width: fit-content;
    /* background-color: chartreuse; */
    /* letter-spacing: 0.02rem; */
  }
  .content h3 {
    color: #747474;
    font-size: 4vmin;
    font-family: 'AppleSDGothicNeoT00';
    font-weight: normal;
    letter-spacing: 0.03vmin;
    line-height: 4vmin;
    text-align: start;
    margin-top: -3vmin;
    /* background-color: chartreuse; */
  }
  .content .long {
    letter-spacing: -0.05vmin;
    margin: -4vmin 0 4vmin 0;
  }
}
